
.jumbotron{
    background-image: url(https://images.unsplash.com/photo-1445905595283-21f8ae8a33d2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1352&q=80); 
    background-size: cover;
}

#aboutMe{
    
}

.justifyText{
    text-align: justify;
}

#projectSection{
    background-color: rgb(255, 236, 209);
}